<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      账号:<input type="text" v-model="username" /><br /><br />
      密码:<input type="password" v-model="password" /><br /><br />
      <button @click="login()">登录</button>
      <button @click="reset()">重置</button>
    </div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      username: "",
      password: "",
    },
    methods: {
      login() {
        if (this.username.equals("admin") && this.password.equals("admin")) {
          alert("登录成功");
        }
      },
      reset() {
        (this.username = ""), (this.password = "");
      },
    },
  });
</script>
