<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/inputnumber.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <title>购物车</title>
  </head>
  <body>
    <div class="app-container" id="app">
      <!-- 顶部banner -->
      <div class="banner-box"><img src="./img/fruit.jpg" alt="" /></div>
      <!-- 面包屑 -->
      <div class="breadcrumb">
        <span>🏠</span>
        /
        <span>购物车</span>
      </div>
      <!-- 购物车主体 -->
      <div class="main" v-if="fruitList.length > 0">
        <div class="table">
          <!-- 头部 -->
          <div class="thead">
            <div class="tr">
              <div class="th">选中</div>
              <div class="th th-pic">图片</div>
              <div class="th">单价</div>
              <div class="th num-th">个数</div>
              <div class="th">小计</div>
              <div class="th">操作</div>
            </div>
          </div>
          <!-- 身体 -->
          <div class="tbody">
            <div
              class="tr"
              v-for="(item,index) in fruitList"
              :key="item.id"
              :class="{active: item.isChecked}"
            >
              <div class="td">
                <input type="checkbox" v-model="item.isChecked" />
              </div>
              <!-- 这里src里面不需要{{}} -->
              <div class="td"><img :src="item.icon" alt="" /></div>
              <div class="td">{{ item.price }}</div>
              <div class="td">
                <div class="my-input-number">
                  <!-- 方法一:直接禁用按钮 -->
                  <!-- :disabled="item.num <= 1" 禁用当前元素,在满足条件的时候 -->
                  <button
                    class="decrease"
                    @click="sub(item.id)"
                    v-model="item.num"
                  >
                    -
                  </button>
                  <span class="my-input__inner">{{ item.num }}</span>
                  <button
                    class="increase"
                    @click="add(item.id)"
                    v-model="item.num"
                  >
                    +
                  </button>
                </div>
              </div>
              <div class="td">{{ item.num * item.price }}</div>
              <div class="td">
                <button @click="removeById(item.id)">删除</button>
              </div>
            </div>
            <!-- <div class="tr">
              <div class="td"><input type="checkbox"/></div>
              <div class="td"><img src="./img/荔枝.png" alt="" /></div>
              <div class="td">7</div>
              <div class="td">
                <div class="my-input-number">
                  <button disabled class="decrease"> - </button>
                  <span class="my-input__inner">1</span>
                  <button class="increase"> + </button>
                </div>
              </div>
              <div class="td">14</div>
              <div class="td"><button>删除</button></div>
            </div> -->
          </div>
        </div>
        <!-- 底部 -->
        <div class="bottom">
          <!-- 全选 -->
          <label class="check-all">
            <input type="checkbox" v-model="allCheck" />
            全选
          </label>
          <div class="right-box">
            <!-- 所有商品总价 -->
            <span class="price-box"
              >总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price"
                >{{ countIsCheck }}</span
              ></span
            >
            <!-- 结算按钮 -->
            <button class="pay">结算( {{ countListLength }} )</button>
          </div>
        </div>
      </div>
      <!-- 空车 -->
      <div class="empty" v-else>🛒空空如也</div>
    </div>
    <script src="../vue.js"></script>
    <script>
      // 默认的水果列表
      const defaultFruitList = [
        {
          id: 1,
          icon: "./img/火龙果.png",
          isChecked: true,
          num: 2,
          price: 6,
        },
        {
          id: 2,
          icon: "./img/荔枝.png",
          isChecked: false,
          num: 7,
          price: 20,
        },
        {
          id: 3,
          icon: "./img/榴莲.png",
          isChecked: false,
          num: 3,
          price: 40,
        },
        {
          id: 4,
          icon: "./img/鸭梨.png",
          isChecked: true,
          num: 10,
          price: 3,
        },
        {
          id: 5,
          icon: "./img/樱桃.png",
          isChecked: false,
          num: 20,
          price: 34,
        },
      ];
      const app = new Vue({
        el: "#app",
        data: {
          // 水果列表,从存储的列表获取
          fruitList: JSON.parse(localStorage.getItem('list')) || defaultFruitList,
        },
        methods: {
          removeById(id) {
            this.fruitList = this.fruitList.filter((item) => item.id !== id);
          },
          add(id) {
            // 根据id找到数组中对应项->find
            const fruit = this.fruitList.find((item) => item.id === id);
            fruit.num++;
          },
          sub(id) {
            const fruit = this.fruitList.find((item) => item.id === id);
            if (fruit.num - 1 === 0) {
              // 法二:逻辑判断进行删除
              this.fruitList = this.fruitList.filter((item) => item.id !== id);
            } else {
              fruit.num--;
            }
          },
        },
        // 计算的在计算属性里面写
        computed: {
          // 方法一:计算选择项的总价(普通遍历)
          countIsCheck() {
            let total = 0;
            this.fruitList.forEach((item) => {
              if (item.isChecked) {
                total += item.price * item.num;
              }
            });
            return total;
          },
          // 方法二:计算选择项的总价(reduce遍历)
          countIsCheck2() {
            return this.fruitList.reduce((sum, item) => {
              if (item.isChecked) {
                // 选中 -> 累加
                return sum + item.num * item.price;
              } else {
                // 没选中 -> 不需要累加
                return sum;
              }
            }, 0);
          },
          // 计算购物的总数量
          countListLength() {
            return this.fruitList.reduce((sum, item) => {
              if (item.isChecked) {
                // 选中 -> 累加
                return sum + item.num;
              } else {
                // 没选中 -> 不需要累加
                return sum;
              }
            }, 0);
          },
          // 完整写法
          allCheck: {
            get() {
              // 必须所有的小选框都选中,全选按钮才能被选中 -> every()
              return this.fruitList.every((item) => item.isChecked === true);
            },
            // 我可以拿到当前选择的值,即当前复选框的值,value
            set(value) {
              this.fruitList.forEach((item) => (item.isChecked = value));
            },
          },
        },
        // 监视属性的变化
        watch: {
          fruitList: {
            deep: true,
            handler(newValue) {
              // 数据持久化,存入本地
              // console.log(value) 转JSON
              localStorage.setItem("list", JSON.stringify(newValue));
            },
          },
        },
      });
    </script>
  </body>
</html>
